.photo-grid {
    max-width: 1184px;
    max-height: 671px;
    margin: 0 auto;
    padding: 0 48px 0 48px;
}

@media screen and (max-width: 1279px) {
    .photo-grid {
        max-width: 928px;
        max-height: 942px;
    }
     
} 

@media screen and (max-width: 1023px) {
    .photo-grid {
        max-width: 720px;
        max-height: 1664px;
        padding: 0 24px;
    }
     
}

@media screen and (max-width: 767px) {
    .photo-grid {
        max-width: 288px;
        max-height: 2724px;
        padding: 0 16px;
    }
     
} 